<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Home</title>
</head>
<body>

<h1>我成功來到index.html了</h1>



<a th:href="@{/secure/login.view}">Login</a>
<br>
<a th:href="@{/pages/register/registerForm.view}">registerForm</a>
<br>
<a th:href="@{/EndProject/KevinProductInfo.view}">KevinProductInfo.html</a>
<br>
<a th:href="@{/EndProject/KevinNewCart.view}">KevinNewCart.html</a>
<br>
<a th:href="@{/registerFormHTML.view}">MembersForm.html</a>
<br>
<a th:href="@{/KevinDashBoard.view}">KevinDashBoard.html</a>



</body>
</html>